
.App {
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh; */
  text-align: center;
}

input{
  margin:10px;
  width:300px;
  height:40px;
  font-size: 20px;
  padding-left:15px
}
button{
  height:39px;
  font-size: 20px;
}